# Nix
result*
repl-result*

# Node.js
.parcel-cache
coverage
dist
node_modules

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate*

# IntelliJ
.idea
*.iml

# Antora (docs)
workspace
docs/build
docs/package-lock.json

# Miscellaneous
.gitignore
.DS_Store
**/.editorconfig
**/.vscode/settings.json

# Playnet-related stuff
playnet
!playnet/bitcoind*
!playnet/geth*
!playnet/lnd*
**/credentials/*.json

# direnv
/.direnv
/.envrc.local