# Nix
result*

# Node.js
coverage
node_modules
dist

# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate*

# Secure content
secure

# IntelliJ
.idea
*.iml

# Antora (docs)
workspace
docs/build
docs/package-lock.json
