.activitiesContainer {
  background-color: #101010 !important;
  padding: 1rem 2rem 1rem 2rem !important;
  border-radius: 2rem;
  width: 100% !important;
}
.activitiesHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.activitiesModal, .activitiesModal div{
  background-color: #101010 !important;
}
.blankMessage {
  width: 100%;
  text-align: center;  
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #444444;
}