.logoIcon {
  padding: 0 !important;
}
.gradientBorder {
  border: none !important;
  outline: none !important;
  font-size: 2rem;
  background: linear-gradient(to right, #7e7dfe, #a351ff) !important;
  z-index: 1;
  position: relative !important;
  color: black !important;
  cursor: pointer;
}
.gradientBorder:hover {
  background: linear-gradient(to right, #a1a0ff, #b26dff) !important;
}