.walletContainer {
  background-color: #101010 !important;
  padding: 1rem 2rem 1rem 2rem !important;
  border-radius: 2rem;
  width: 100% !important;
  margin-right: 0 !important;
}
.walletHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.walletModal, .walletModal div{
  background-color: #101010 !important;
}
.rightArrow {
  margin: 0 0.2rem 0 0 !important;
  transform: rotate(-45deg);
}
.leftArrow {
  transform: rotate(45deg);
}
.connectModal {
  background: #2B2B2B !important;
  border-radius: 1.5em !important;
  width: 500px !important;
  border: 1px solid #6b6b6b !important;
}
.connectModal img {
  width: 1em !important;
  height: 1em !important;
}
.connectForm label{
  font-size: 1.2em !important;
}
.connectForm textarea { 
  color: #dfdfdf !important;
  background-color: black !important;
  border: 2px solid #3A3A3A !important;
  border-radius: 0.5em !important;
  resize: none !important;
  height: 150px !important;
}
.gradientBack {
  margin-left: 0 !important;
  width: 100% !important;
  height: 3em !important;
  border: none !important;
  border-radius: 1em !important;
  outline: none !important;
  font-size: 2rem;
  background: linear-gradient(to right, #7e7dfe, #a351ff) !important;
  z-index: 1;
  position: relative !important;
  color: black !important;
  cursor: pointer;
}
.gradientBack:hover {
  background: linear-gradient(to right, #a1a0ff, #b26dff) !important;
}