.historyContainer {
  background-color: #101010 !important;
  padding: 1rem 2rem 1rem 2rem !important;
  border-radius: 2rem;
  width: 500px !important;
}
.historyHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.historyModal, .historyModal div{
  background-color: #101010 !important;
}