@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html, body {
  /* height: 100%; */
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 0 !important;
}

.card, .cards, .content {
  border-radius: 16px;
  color: #EAEAEA;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.ui.button {
  /* bw/EA */
  background: #EAEAEA;
  /* bw/EA */
  border: 1px solid #EAEAEA;
  border-radius: 16px;

}

.ui.primary.button {
  /* util/brand-gradient */
  background: radial-gradient(100% 181.89% at 0% 100%, #748AFE 7.29%, #A64EFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 16px;
}

.ui.inline.dropdown {
  padding-top:0.3em;
  font-size: 1.5em;
  color: #000;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.user-swap {
  width: 50% !important;
  float: left !important;
}

body {
  background-color: #191b21 !important;
  color: white !important;
}

.flex-nowrap { flex-wrap: nowrap !important; }

.sw-title { width: 100px !important;}

td { overflow-wrap: anywhere;}

table { background-color: #191b21 !important; }

label, .header { color: white !important; }

button { padding: 0.5rem !important }

.card { background-color: #101010 !important; }
.card * { color: white; }

h3 {
  font-size: 1.28571429rem !important;
  font-weight: bold !important;
}

.divider { margin: 0 !important; }

.align-left { text-align: left !important; }
.align-right { text-align: right !important; }

.align-center { text-align: center !important;}

div, h1, h2, h3, h4, h5, h6, button { font-family: 'Noto Sans' !important; font-weight: bold; }
input { font-family: 'Noto Sans' !important; }

.mt-1 { margin-top: 1em !important; }
.mr-1 { margin-right: 1em !important; }
.ml-1 { margin-left: 1em !important; }
.mb-1 { margin-bottom: 1em !important; }
.mb-0 { margin-bottom: 0 !important;}
.mb-3 { margin-bottom: 3em !important;}
.pt-1 { padding-top: 1em !important; }
.pt-0 { padding-top: 0em !important; }
.pb-1 { padding-bottom: 1em !important; }

.space-between { justify-content: space-between !important;}

.w-100 { width: 100% !important; }
.h-3 { height: 3em !important; }
.gradient-btn {
  margin-left: 0 !important;
  border: none !important;
  border-radius: 1em !important;
  outline: none !important;
  font-size: 2rem;
  background: linear-gradient(to right, #7e7dfe, #a351ff) !important;
  z-index: 1;
  position: relative !important;
  color: black !important;
  cursor: pointer;
}
.gradient-btn:hover {
  background: linear-gradient(to right, #a1a0ff, #b26dff) !important;
}
button:disabled {
  background-color: #424242 !important;
}
.nav-container {
  display: flex !important;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  height: 4em;
  padding: 0 3em 0 3em;
}
.nav-container img {
  width: 2em;
  height: 2em;
}
.sign-in-container {
  display: flex;
  align-items: center;
  text-align: right;
  flex-direction: row-reverse;
  padding-right: 3em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container {
  background-color: #191b21;
}
.ui.selection.visible.dropdown>.text:not(.default) {
  color: white !important;
}